<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="assignm.nicholasbar.tikstreamlabstok">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.base.TokLabsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <nav-graph android:value="@navigation/home_navigation" />
        </activity>
        <activity
            android:name=".ui.camera.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.hire.HireActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
